[DEFAULT]


[gogamechen1]

#
# From gogamechen1
#

# Manager extend rpc endpoint module string (import string value)
#module = gogamechen1.api.rpc

# Endpoint max lock size (integer value)
#max_lock = 100

# agent appcaclition affinity bitwise, [gamesvr:1] [publicsvr:2] [gmsvr:4]
# [publicsvr&gmsvr:6] [gamesvr&publicsvr&gmsvr:7] and so on (integer
# value)
# Allowed values: 1, 2, 3, 4, 5, 6, 7
#agent_affinity = 1


[gogamechen1.gamesvr]

#
# From gogamechen1.gamesvr
#

# data db rw user name (string value)
#datadb_user = gogamedb-rw

# data db rw user passwd (string value)
#datadb_passwd = <None>

# data db ro user name (string value)
#datadb_ro_user = gogamedb-ro

# data db ro user passwd (string value)
#datadb_ro_passwd = <None>

# logdb db rw user name (string value)
#logdb_user = gogamelog-rw

# logdb db rw user passwd (string value)
#logdb_passwd = <None>

# logdb db ro user name (string value)
#logdb_ro_user = gogamelog-ro

# logdb db ro user passwd (string value)
#logdb_ro_passwd = <None>


[gogamechen1.gmsvr]

#
# From gogamechen1.gmsvr
#

# data db rw user name (string value)
#datadb_user = gogmdb-rw

# data db rw user passwd (string value)
#datadb_passwd = <None>

# data db ro user name (string value)
#datadb_ro_user = gogmdb-ro

# data db ro user passwd (string value)
#datadb_ro_passwd = <None>


[gogamechen1.publicsvr]

#
# From gogamechen1.publicsvr
#

# data db rw user name (string value)
#datadb_user = gocross-rw

# data db rw user passwd (string value)
#datadb_passwd = <None>

# data db ro user name (string value)
#datadb_ro_user = gocross-ro

# data db ro user passwd (string value)
#datadb_ro_passwd = <None>


[gopcdn]

#
# From gopcdn
#

# alias impl class (multi import string)
#aliases = gogamechen1.plugin.alias.Alias
